
<div class="grid-container">
    <% @post.each do |post| %>
        <div class="card">
            <div class="posters-name">
                <% if user_signed_in? %>
                    <%= User.find(post.user_id).username %>
                <% end %>
            </div>
            <div class="title"> 
                <%= post.title %> 
            </div>
            <div class="body"> 
                <%= post.body %> 
            </div>
        </div>
    <% end %>
</div>

