.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.forms form{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


form .actions{
    margin-top: .5rem;
}

.forms h2 {
    text-align: center;
}
