nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-aqua);
}

.login_logout, 
.new_post {
    border: 1px solid var(--dirty-white);
    padding: .5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    color: var(--dirty-white);
    transition: .3s;
    font-size: 1.1rem;
}

.login_logout {
    margin-right: 5rem;
}

#login {
    margin-left: auto;
}

.new_post {
    background-color: var(--dark-orange);
}

nav a :hover {
    background-color: var(--dark-brown);
}

.username {
    margin-left: 3rem;
    color: #90aead;
}

.user {
    font-size: 2rem;
}
