/* New Post */

.post_form {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

#post_title,
#post_body {
    width: 50ch;
}

.errors {
    max-width: 140ch;
    margin: 1rem auto;
}
